<template name="footer">
	<div id="footer" style=" height: 60px;">
    <div class="container">
       <ul class="list-unstyled list-inline" >
          <li>
              <a href="http://www.google.com" target="_blank">
                  Google
              </a>
          </li>
          <li>
              <a href="http://www.stackoverflow.com" target="_blank">
                  Stackoverflow
              </a>
          </li>
          <li>
              <a href="http://www.sugbufm.com" target="_blank">
                  SugbuFM
              </a>
          </li>
          <li>
             <a href="http://www.facebook.com" target="_blank">
                  Facebook
              </a>
          </li>
          <li class="pull-right">
              <span> Raul Torrefiel Jr. &copy; 2014</span>
          </li>
       </ul>

    </div>
	</div>
</template>