<template name="sidebar">
 	<div class="col-sm-4">
    <nav class="nav-sidebar">
      <ul class="nav"> 
          <li class="active">
              <a href=" " id="">Home</a>
          </li>
          <li>
              <a href=" " id="#PyConPH" class="hashtag">#PyConPH</a>
          </li>
          <li>
              <a href=" " id="#engageSPARK" class="hashtag">#engageSPARK</a>
          </li>
          <li>
              <a href=" " id="@UXYoda" class="twuser">@UXYoda</a>
          </li> 
          <li>
              <a href=" " id="@DepressedDarth" class="twuser">@DepressedDarth</a>
          </li> 
          <li>
              <a href=" " id="@GeorgeTakei" class="twuser">@GeorgeTakei</a>
          </li> 
      </ul>
  	</nav>
	</div>
</template>